<section class="container">
  <div class="user-profile">
    <div class="user-icon">
      <img src="{{ userProfile.icon }}" alt="User Icon" />
    </div>
    <div class="user-info">
      <p>Nome: {{ userProfile.name }}</p>
      <p>Email: {{ userProfile.email }}</p>
      <div>
        <p>Filmes favoritos:</p>
        <ul>
          <li *ngFor="let item of userProfile.favFilms; let i = index">
            {{ userProfile.favFilms[i] }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
