<section class="container">
  <img
    class="banner"
    src="../../assets/background.png"
    alt="New series banner"
  />
  <div *ngFor="let categorie of categories">
    <h4>{{ categorie.title }}</h4>
    <div class="videos-container">
      <div *ngFor="let video of videos">
        <img
          class="film-image"
          src="{{ video.snippet.thumbnails.medium.url }}"
          alt="{{ video.snippet.title }}"
          (click)="toggleModal(video.id.videoId)"
        />
      </div>
    </div>
  </div>
  <app-show-video
  [videoId]="videoId"
></app-show-video> 
</section>